<br>
<br>
 <div class="jumbotron">
   <h1>Blocitoff</h1>
   <p>Bloccitoff is a self destructing to-do list!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Keep lists manageable</h2>
     <p>Keeps to-do lists to only your most important tasks.</p>
   </div>
   <div class="col-md-4">
     <h2>Self Destructing</h2>
     <p>Don't let your to-do list accumulate junk.  Let Blocitoff destroy old items for you.<p>
   </div>
   <div class="col-md-4">
     <h2>Keep life simple</h2>
     <p>Blocitoff keeps your life simple and organized.</p>
   </div>
 </div>
